{% extends "admin/admin_staff.html" %}
{% block javascript %}
<script src="/static/javascript/lightbox.js"></script>
<script>
$('document').ready(function(){

  $('#add_menu').live("click",function(){
        $.get('{% url add_menu %}',function(data){
            $('body').append('<div><div class="well lightbox-box" style="position:fixed">'+ data +'</div><div class="lightbox" ></div></div>');
            remove_lightbox();
        });
    });

    $('#add_under_menu').live("click",function(){
        menu = $(this).parent().parent().parent();

        $.get('{% url add_under_menu %}',{'id':menu.attr("id")},function(data){
            $('body').append('<div><div class="well lightbox-box" style="position:fixed">'+ data +'</div><div class="lightbox" ></div></div>');
            remove_lightbox();
        });
    });

    $('#remove').live("click",function(){
        remove = $(this).parent().parent().parent();
        remove.hide();
        $.get("{%url delete_menu %}",{"id":remove.attr('id'),'option':'menu'});
    });

    $('#under_remove').live("click",function(){
        remove = $(this).parent().parent();
        remove.hide();
        $.get("{%url delete_menu %}",{"id":remove.attr('id'),'option':'undermenu'});
    });

    $('#edit').live("click",function(){
        menu = $(this).parent().parent().parent();

        $.get('{% url edit_menu %}',{'order':menu.attr("id"),'option':'menu'},function(data){
            $('body').append('<div><div class="well lightbox-box" style="position:fixed">'+ data +'</div><div class="lightbox" ></div></div>');
            remove_lightbox();
        });
    });

    $('#under_edit').live("click",function(){
        menu = $(this).parent().parent();

        $.get('{% url edit_menu %}',{'order':menu.attr("id"),'option':'undermenu'},function(data){
            $('body').append('<div><div class="well lightbox-box" style="position:fixed">'+ data +'</div><div class="lightbox" ></div></div>');
            remove_lightbox();
        });
    });

    $("#up").live("click",function(){
        move = $(this).parent().parent().parent();

        if(move.prev().html() ){
          $('body').prepend('<img class="load" src="/static/images/loading.gif" style="position:fixed;top:40%;left:30%;z-index:3;"></img>');
          $.getJSON("{% url move_menu  %}",{"order":move.attr('id'),'option':'menu','direction':'up'},function(data){
            id = data.id;
            id1 = data.id1
            mo = move.prev()
            move.attr("id",id);
            mo.insertAfter(move);
            mo.attr("id",id1);
            $('.load').remove();
          });
            
        }
    });
    
    $("#down").live("click",function(){
        move = $(this).parent().parent().parent();

        if(move.next().html()){
          $('body').prepend('<img class="load" src="/static/images/loading.gif" style="position:fixed;top:40%;left:30%;z-index:3;"></img>');
          $.getJSON("{% url move_menu  %}",{"order":move.attr('id'),'option':'menu','direction':'down'},function(data){
            id = data.id;
            id1 = data.id1;
            mo = move.next();
            move.attr("id",id);
            mo.insertBefore(move);
            mo.attr("id",id1);
            $('.load').remove();
          });
        }
    });
    
    $("#under_up").live("click",function(){
        move = $(this).parent().parent();

        if( move.prev().attr("class") == "info" ){
          $('body').prepend('<img class="load" src="/static/images/loading.gif" style="position:fixed;top:40%;left:30%;z-index:3;"></img>');
          $.getJSON("{% url move_menu  %}",{"order":move.attr('id'),'option':'undermenu','direction':'up'},function(data){
            id = data.id;
            id1 = data.id1
            mo = move.prev()
            move.attr("id",id);
            mo.insertAfter(move);
            mo.attr("id",id1);
            $('.load').remove();
          });
        }
    });
    
    $("#under_down").live("click",function(){
        move = $(this).parent().parent();

        if(move.next().html()){
          $('body').prepend('<img class="load" src="/static/images/loading.gif" style="position:fixed;top:40%;left:30%;z-index:3;"></img>');
          $.getJSON("{% url move_menu  %}",{"order":move.attr('id'),'option':'undermenu','direction':'down'},function(data){
            id = data.id;
            id1 = data.id1;
            mo = move.next();
            move.attr("id",id);
            mo.insertBefore(move);
            mo.attr("id",id1);
            $('.load').remove();
          });
        }
    });
});
</script>
{% endblock %}

{% block panel %}
<p><button class="btn btn-danger" id="add_menu">Adauga menu</button></p>
<table class="table table-condensed">
  {% for i in menu %}
  <tbody id="{{i.menu.order}}">
   <tr>
      <td>{{i.menu.menu}}</td>
      <td>{{i.menu.url}}</td>
      <td>          
          <button class="btn btn-info " id="add_under_menu">Adauga submeniu</button></br></br>
          <button class="btn btn-success" id ="remove"><i class="icon-trash"></i></button></br></br>
          <button class="btn btn-success" id ="edit"><i class="icon-cog"></i></button></br></br>
      </td>
      <td>
          <button class="btn btn-info" id ="up"><i class="icon-arrow-up"></i></button></br></br>
          <button class="btn btn-info" id ="down"><i class="icon-arrow-down"></i></button></br></br>
      </td>
      <td></td>
    </tr>
    
    {% for j in i.undermenu1 %}
      <tr class="info" id="{{j.order}}">
        <td style="opacity:0.0;"></td>
        <td>{{j.undermenu}}</td>
        <td>{{j.url}}</td>
        <td>
          <button class="btn btn-success" id ="under_remove"><i class="icon-trash"></i></button></br></br>
          <button class="btn btn-success" id ="under_edit"><i class="icon-cog"></i></button></br></br>
        </td>
        <td>
          <button class="btn btn-success" id ="under_up"><i class="icon-arrow-up"></i></button></br></br>
          <button class="btn btn-success" id ="under_down"><i class="icon-arrow-down"></i></button></br></br>
        </td>
      </tr>
    {% endfor%}

  </tbody>
  {% endfor %}
</table>
{% endblock %}
