<body style="background:url({{ip}}/static/images/background.jpg);">
  <div class="sigla"  style="background:black;">
    <a href="{{ip}}">
      <img src="{{ip}}/static/images/sigla.jpg" title="Lifeit"></img>
    </a>
    <p style="float:right;">
        <a href="{{ip}}/newslatter/{{data}}" style="float:right;">
          Daca nu poti citi newslatter click aici
        </a>
          <br>
      <a href="{{ip}}/dezabonare/{{j.email}}/{{j.cod}}" style="float:right;">
        dezabonează-te
      </a>
    </p>
      <hr>
  </div>
  <div>
    {% for i in articles %}
  <p style="margin-left:30px">
    <div class="row article">
        <div class="span9" style="width:600px;">
          <a href="{{ip}}{% url views.article%}?id={{i.id}}">
            <span class="label label-info" style="font-size:30px">
              {{i.title}}
            </span>
          </a>
          </br>
          </br>
          <div class="row">
            <div class="span3" style="width:90px;"><img src="{{ip}}/static/{{i.image}}"></img></div>
            <div class="span6" >
              {{i.describe}}
              </br>
              <span style="font-size:20px;">
                <a href="{{ip}}{% url views.article%}?id={{i.id}}">
                more<i class="icon-circle-arrow-right" style="position:relative;top:5px;"></i>
                </a>
              </span>
            </div>
          </div>
    </div>
  </div>
  </p>
  {% endfor %}
  </div> 
<body>
