<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
   <meta charset="utf-8" />
   <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <!-- Mobile viewport optimized: h5bp.com/viewport -->
   <meta name="viewport" content="width=device-width">

   <title>{%block title %}Lifeit{% endblock %}</title>

   <meta name="robots" content="index, nofollow">

   {% block meta %}{% endblock %}

   <!-- remove or comment this line if you want to use the local fonts -->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

   <link rel="stylesheet" type="text/css" href="/static/mobile/content/css/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="/static/mobile/content/css/bootstrap-responsive.css">
   <link rel="stylesheet" type="text/css" href="/static/mobile/content/css/bootmetro.css">
   <link rel="stylesheet" type="text/css" href="/static/mobile/content/css/bootmetro-tiles.css">
   <link rel="stylesheet" type="text/css" href="/static/mobile/content/css/bootmetro-charms.css">
   <link rel="stylesheet" type="text/css" href="/static/mobile/content/css/metro-ui-light.css">
   <link rel="stylesheet" type="text/css" href="/static/mobile/content/css/icomoon.css">
   <link rel="stylesheet" type="text/css" href="/static/mobile/content/css/base.css">

   <!--  these two css are to use only for documentation -->
   <link rel="stylesheet" type="text/css" href="/static/mobile/content/css/demo.css">
   <link rel="stylesheet" type="text/css" href="/static/mobile/scripts/google-code-prettify/prettify.css" >

   <!-- Le fav and touch icons -->
   <link rel="shortcut icon" href="/static/images/sigla.jpg" type="image/x-icon">
   <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/mobile/content/ico/apple-touch-icon-144-precomposed.png">
   <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/mobile/content/ico/apple-touch-icon-114-precomposed.png">
   <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/mobile/content/ico/apple-touch-icon-72-precomposed.png">
   <link rel="apple-touch-icon-precomposed" href="/static/mobile/content/ico/apple-touch-icon-57-precomposed.png">
  
   <!-- All JavaScript at the bottom, except for Modernizr and Respond.
      Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
      For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
   <script src="/static/mobile/scripts/modernizr-2.6.1.min.js"></script>

   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3182578-6']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>
   <script src="/static/mobile/scripts/jquery-1.8.2.min.js"></script>
   <script>window.jQuery || document.write("<script src='/static/mobile/scripts/jquery-1.8.2.min.js'>\x3C/script>")</script>

   <script type="text/javascript" src="/static/mobile/scripts/google-code-prettify/prettify.js"></script>
   <script type="text/javascript" src="/static/mobile/scripts/jquery.mousewheel.js"></script>
   <script type="text/javascript" src="/static/mobile/scripts/jquery.scrollTo.js"></script>
   <script type="text/javascript" src="/static/mobile/scripts/bootstrap.min.js"></script>
   <script type="text/javascript" src="/static/mobile/scripts/bootmetro.js"></script>
   <script type="text/javascript" src="/static/mobile/scripts/bootmetro-charms.js"></script>
   <script type="text/javascript" src="/static/mobile/scripts/demo.js"></script>
   <script type="text/javascript" src="/static/mobile/scripts/holder.js"></script>
   <script type="text/javascript" src="/static/mobile/scripts/base.js"></script>

   <script type="text/javascript">
      $(".metro").metro();
   </script>
   {% block javascript %}
   {% endblock %}
   <script>
     $('document').ready(function(){
       $('.email').submit(function(){
         $('.progress-email').show();
         $.post('{% url m.newsletter %}',$(this).serialize(),function(data){
           $('.email').html(data);
           $('.progress-email').hide();
         });
         return false;
       });
       $('.login').submit(function(){
         $('.progress-email').show();
         $.post('{% url m.login %}',$(this).serialize(),function(data){
           $('.login').html(data);
           $('.progress-email').hide();
         });
         return false;
       });
     });
   </script>
</head>
<body>

  <div class="sigla">
    <a href="/">
      <img class="sigla" src = "/static/images/sigla.jpg" style="float:left;z-index:3;">
    </a>
  </div>

  <div class="navbar navbar-inverse navbar1" >
  </div>

  <div class="list-meniu">
    <a class="win-command win-command-m" style="text-align: right;min-width: 100px;">
      <span class="win-commandimage win-commandring icon-list" ></span>
    </a>
    {% include "mobile/menu.html" %}
  </div>
  </br>
  </br>
  </br>
  </br>
  <div class="container">
      <div class="row-fluid">
        <div class="span6 st ">
          {% block article %}
          {% endblock %}
        </div>

        <div class="span6 dr" >
          <div class="span2"></div>
          <div class="span3"></div>
          <div class="span7">

            <div class="metro ">
              <div class="metro-sections" style="width: 1430px; left: 0px;">
                 <div class="image-wrapper">
                   <script type="text/javascript" src="http://profitshare.emag.ro/get_ads.php?zone_id=109997"></script>
                 </div>
              </div>

              <div class="metro" style="margin-top:15px">
                <div class="metro-sections" style="width: 1430px left: 0px;">
                  <div class="tile wide text bg-color-blueDark" style="height:auto;width:auto;">
                     <div class="text-header">Blogroll</div>
                     <div class="column-text" style="margin-top:15px;">
                       <div class="text" style="height:auto;">
                       {% for i in link %}
                           <a style="color:white;margin-left:30px;" href="{{i.url}}" rel="{{i.rel}}">{{ i.value }}</a>
                           </br>
                         </span>
                       {% endfor %}
                       </div>
                     </div>
                  </div>
                </div>
              </div>

            </div>


          <footer class="" style="position:relative;bottom:0px;width:100%;height:10px;margin-top:30px;" >

            <div class="tabbable tabs-below ">
               <div class="tab-content ">
                 <div class="tab-pane" id="A">
                   <form class="email  no_border" method="POST" style="margin-left:20px;">
                     {% csrf_token %}
                      <div class="control-group">
                         <label class="control-label" for="inputEmail">Email</label>
                         <div class="controls">
                           <input type="text" name="email" id="id_email" placeholder="Email">
                         </div>
                       </div>

                       <input class="btn" type="submit" value="Abonare">

                   </form>
                   <div class="progress progress-email progress-indeterminate" style="position:relative; top:-100px;left:100px;width:50px;display:none;">
                      <div class="win-ring small"></div>
                   </div>
                 </div>
                 <div class="tab-pane" id="B">
                  {%if not user.is_authenticated %}
                     <form class=" login">
                       {% csrf_token %}
                       <div class="control-group">
                         <label class="control-label" for="inputUser">User</label>
                         <div class="controls">
                           <input name="username" type="text" id="inputUser" placeholder="User">
                         </div>
                       </div>
                       <div class="control-group">
                         <label class="control-label" for="inputPassword">Password</label>
                         <div class="controls">
                           <input name="password" type="password" id="inputPassword" placeholder="Password">
                         </div>
                       </div>

                       <input class="btn" type="submit" value="Login">

                     </form>
                     {% endif %}
                   <div class="progress progress-email progress-indeterminate" style="position:relative; top:-143px;left:80px;width:50px;display:none;">
                      <div class="win-ring small"></div>
                   </div>
                 </div>
               </div>
               <ul class="nav nav-tabs " style="border-top: none;" >
                 <li ><a href="#A" data-toggle="tab">
                   <button class="win-command ">
                      <span class="win-commandimage win-commandring"></span>
                      <span class="win-label">Abonare</span>
                   </button>
                 </a></li>
                 <li ><a href="#B" data-toggle="tab">
                   <button class="win-command">
                      <span class="win-commandimage win-commandring"></span>
                      <span class="win-label">User</span>
                   </button>
                 </a></li>
               </ul>
            </div>

          </footer>
          </div>
        </div>
      </div>

  </div>
</body>
</html>
