<html>
<head>
{% block javascript %}
{% endblock %}
<script>
{% block submit %}
$('document').ready(function(){
  $('.form').submit(function(){
    {% block login%}
  {% endblock %}
    $.post('{% block url %}{%endblock%}',$(this).serialize(),function(data){
      $('.form').html(data);
      {% block javascript2 %}{% endblock %}
    }); 
    return false;    
  });
});
{% endblock %}
</script>

</head>
<body>
<form class="{% block class %}form{% endblock %}" method="POST" >
{% csrf_token %}
<p style="font-size:13px"><b>{% block mesaj %}{% endblock %}</b></p>
<p style="font-size:13px"><b>{{mesaj}}</b></p>
{% block form_media %}{%endblock %}
{{form.as_p }}
{% block forms %}
<input class="btn" type="submit" value="{% block value %}{% endblock%} "/>
{% endblock %}
</form>
</body>
</html>
